*{
    font-family: 'Nunito', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
}
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-shadow: 0 0 20px 0 rgb(44, 51, 109);
    border-left: 20px solid rgb(221, 93, 153);
    border-right: 20px solid rgb(221, 93, 153);
    height: 100vh;
    width: 100%;
    max-width: 750px;
    min-height: 500px;
    margin: 0;
    padding: 0;
}
/* HEADER CONTENT START */
header{
    box-sizing: border-box;
    display: flex;
    justify-content:space-evenly; 
    padding: 15px 0 5px 0;
    font-size: 16px;
    background-color: rgb(255, 184, 217);
    margin: 0; 
    height: 10%;
    min-height: 50px;
    border-bottom: 5px solid rgb(226, 140, 180);
    z-index:1;
}
/* HEADER CONTENT END */
/* MAIN DISPLAY CONTENT START*/
article{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: lightsteelblue;
    box-shadow: inset 0 0 10px -2px rgb(18, 80, 151);
    background-size: contain;
    min-height: 300px;
    height: 60%;
    transition: background-image 1s ease-in-out;
}
#start{
    align-self: center;
    height: 100px;
    width: 100px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: deepskyblue;
    outline: none;
    font-size: 16px;
    transition: font-size .5s ease, font-weight .5s ease;
}
#start:hover{
    font-weight: bold;
    font-size: 25px;
}
.animate-pulse {
    animation-name: pulse;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0%{
        box-shadow: 0 0 5px 3px white;
    } 50% {
        box-shadow: 0 0 15px 15px rgb(247, 214, 245);
    } 100% {
        box-shadow: 0 0 5px 3px white;
    } 
}
/*----SPRITE CONTENT BEGIN*/
.display{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    height:40px;
    width:50px;
    justify-self:flex-end;
    align-self: flex-end;
}
.sprite{
    box-sizing: border-box;
    width: 10%;
}
.animate-keyframe {
    animation-name: breathe1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes breathe1 {
    0%{
        height: 40px;
        width: 50px;
    } 50% {
        height: 37px;
        width: 48px;
    } 100% {
        height: 40px;
        width: 50px;
    } 
}
@keyframes breathe2 {
    0%{
        height: 80px;
        width: 100px;
    } 50% {
        height: 85px;
        width: 95x;
    } 100% {
        height: 80px;
        width: 100px;
    } 
}
@keyframes breathe3 {
    0%{
        height: 120px;
        width: 150px;
    } 50% {
        height: 130px;
        width: 140px;
    } 100% {
        height: 120px;
        width: 150px;
    } 
}
/*----SPRITE CONTENT END*/
/* MAIN DISPLAY CONTENT END */
/* PROMPT CONTENT START */
footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 5px solid rgb(226, 140, 180);
    background-color: rgb(255, 184, 217);
    width: 100%;
    min-height: 30%;
    padding: 10px;
}
#optionHolder{
    box-sizing: border-box;
    display:flex;
    width: 100%;
    justify-content:space-evenly;
    padding: 10px 0 10px 0;
    min-height: 50px;
}
#text{
    width:100%;
    font-size: 20px;
}
.options{
    font-size: 16px;
    min-width: 16%;
	background: none;
	border: none;
    outline: none;
    cursor: pointer;
    transition: color .15s ease-in-out;
}
.options:hover{
    color: white;
    text-shadow: 0 0 5px lightgrey;
}
.repeated {
    box-sizing: border-box;
    transition: border .2s ease-in-out, background .2s ease-in-out;
}
.repeated:hover{
    border: 1px solid white;
    border-radius: 5px;
    background: rgb(226, 140, 180)
}

input{
    border: none;
    outline: none;
    background:rgb(214, 250, 255);
    width:50%;
    padding: 5px;
    margin-top: 5px;
}
/* PROMPT CONTENT END */
/* POST CONTENT MEDIA EDITS */
@media screen and (max-width: 750px) {
    main {
        border: none;
    }
    article {
        background-size: cover; 
    }
}
@media screen and (max-width: 600px){
    header {
        font-size: 12px;
    }
} 
@media screen and (min-width: 1250px){
    footer {
        min-height: 250px;
    }
} 